@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #e3ccae;
  --foreground-light: #000000;
  --background-dark: #000000;
  --foreground-dark: #e3ccae;
  --primary-light: #f4e5d0;
  --primary-dark: #262a56;
  --secondary: #b8621b;
}

:root[data-theme="light"] {
  --background: var(--background-light);
  --foreground: var(--foreground-light);
  --primary: var(--primary-light);
}

:root[data-theme="dark"] {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
  --primary: var(--primary-dark);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.5s ease, color 0.5s ease;
}
