@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #f8f8f8;
  --foreground-light: #4e576a;
  --background-dark: #2e2e2e;
  --foreground-dark: #d1d1d1;
}

body.light {
  color: var(--foreground-light);
  background: var(--background-light);
}

body.dark {
  color: var(--foreground-dark);
  background: var(--background-dark);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.3s, color 0.3s;
}
